{
"text": "Status Update",
"blocks": [
    {
        "type": "section",
        "text": {
            "type": "mrkdwn",
            "text": "Windows provisioning complete on Microsoft Azure!  Server reachable at:"
        }
    },
    {
        "type": "section",
        "text": {
            "type": "mrkdwn",
            "text":
"
:large_blue_circle: <http://{{public_ip}}|Windows-Server>
"
        }
    }
]
}